{{#link-to 'hike' hike.id}}
<div class="col-sm-4">
  <div class="hike-tile-box z-depth-3">
    <h5 class="hike-name">{{hike.name}}</h5>
    <img class="all-hike-imgs" src={{hike.image}}/>
  </div>
</div>
{{/link-to}}
