<div class="col-sm-4">
  <div class="rating-box">
    <h5>Rating: {{displayStarRating}}</h5>
    <h5>On {{rating.time}}, {{rating.username}} wrote:</h5>
    <h5>{{rating.comment}}</h5>
  </div>
</div>
