// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

// ember-cli-materialize styles
@import 'ember-cli-materialize';

body {
  text-align: center;
}

.all-hike-imgs {
  width: 350px;
  height: 200px;
}

.hike-detail-image {
  width: 500px;
  height: 300px;
}
