// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

// ember-cli-materialize styles
@import 'ember-cli-materialize';

// application

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.front-page-image {
  height: 800px;
  background-image: url('/mountain.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    padding-top: 220px;
    color: white;
  }
}

.nav-wrapper {
  @extend .light-green, .darken-1;
  a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
}

.navbar-brand {
  font-size: 18pt;
}

.inline {
  display: inline;
}

// oregon and washington routes

.all-hike-imgs {
  width: 350px;
  height: 200px;
}

.hike-tile-box {
  width: 400px;
  border: lightgrey solid 5px;
  background-color: darkgrey;
  margin-top: 30px;
  padding: 20px;
  overflow: hidden;
  .hike-tile-box:hover {
    color: black;
  }
  .hike-name {
    color: black;
    padding-bottom: 10px;
  }
}

// hike details page

.hike-detail-columns {
  padding: 20px;
}

.hike-detail-row {
  margin-top: 40px;
}

.hike-detail-image {
  width: 500px;
  height: 300px;
}

.new-rating-form {
  margin-bottom: 40px;
}

.favorite-button {
  margin-top: 20px;
}

.rating-box {
  border: black solid 4px;
  height: 260px;
  padding: 20px;
  overflow: hidden;
}

// star rating styling

.star-rating-selection {
  text-indent: 10px;
  font-size: 14pt;
  color: black;
}

.star-rating-selection:hover {
  cursor: pointer;
  color: #ff5722;
}

.selected-stars {
  color: #ff5722;
  text-indent: 10px;
}
