// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

// ember-cli-materialize styles
@import 'ember-cli-materialize';

// application

body {
  text-align: center;
}

.nav-wrapper {
  @extend .light-green, .darken-1;
}

.inline {
  display: inline;
}

// oregon and washington routes

.all-hike-imgs {
  width: 350px;
  height: 200px;
}

// hike details page

.hike-detail-image {
  width: 500px;
  height: 300px;
}

.new-rating-form {
  margin-bottom: 40px;
}

.favorite-button {
  margin-top: 20px;
}

.rating-box {
  border: black solid 2px;
}

// star rating styling

.star-rating-selection {
  text-indent: 10px;
  font-size: 14pt;
  color: black;
}

.star-rating-selection:hover {
  cursor: pointer;
  color: #ff5722;
}

.selected-stars {
  color: #ff5722;
  text-indent: 10px;
}
