<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">CSR</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'index'}}All Page{{/link-to}}</li>
      <li>{{#link-to 'index'}}Admin Access{{/link-to}}</li>
      <li>{{#link-to 'index'}}Favorites{{/link-to}}</li>
    </ul>
  </div>
</nav>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
