<nav>
  <div class="nav-wrapper">
    <a class='navbar-brand' href='/'><span class="glyphicon glyphicon-tree-conifer"></span> PNW</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
      <li>{{#link-to 'washington'}}Washington{{/link-to}}</li>
      <li>{{#link-to 'oregon'}}Oregon{{/link-to}}</li>
      <li>{{#link-to 'admin'}}Admin Access{{/link-to}}</li>
      <li>{{#link-to 'favorites'}}Favorites <span class="glyphicon glyphicon-heart"></span>{{/link-to}}</li>
    </ul>
  </div>
</nav>

  {{outlet}}


{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
